 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/7d4f0734-43ed-4304-80cb-7ba55a2d7c64.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: "Bai Jamjuree";
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 63px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 163px;
  min-width: 121px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: none;
  margin: 35px auto 0 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 516px;
  }
}


@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 160px;
    margin-bottom: 50px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 56px;
  }

  .u-section-6 .u-image-1 {
    min-height: 263px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 159px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 239px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    height: 224px;
    margin-top: -154px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2102px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: -2px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 564px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 341px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 566px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 384px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 8px;
  }

  .u-section-6 .u-image-3 {
    height: 376px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 126px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 813px;
}

.u-section-7 .u-shape-1 {
  height: 403px;
  width: 1014px;
  background-image: linear-gradient(#545af8, #e84a90);
  margin: 60px 0 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 757px;
  height: 452px;
  margin: -171px auto 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1018px;
  margin: -614px auto 131px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 544px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  height: 416px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 544px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 0;
}

.u-section-7 .u-text-2 {
  letter-spacing: normal;
  line-height: 32px;
  margin: 30px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  background-image: none;
  margin: 43px auto 0 0;
  padding: 10px 31px 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-7 .u-shape-1 {
    width: 798px;
  }

  .u-section-7 .u-shape-2 {
    width: 689px;
    height: 446px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 850px;
    margin-top: -608px;
    margin-bottom: 108px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-7 .u-image-1 {
    height: 384px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-7 .u-shape-1 {
    height: 378px;
    width: 634px;
    margin-top: 76px;
  }

  .u-section-7 .u-shape-2 {
    width: 590px;
    height: 490px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 664px;
    margin-top: -652px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-7 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 25px 18px 25px 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-7 .u-shape-1 {
    height: 595px;
    width: 418px;
    margin-top: 60px;
  }

  .u-section-7 .u-shape-2 {
    height: 579px;
    width: 408px;
    margin-top: -455px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 418px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-7 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 50px 30px;
  }
}

 .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-8 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#545af8, #e84a90);
  height: 1048px;
  margin: 77px auto 0 193px;
}

.u-section-8 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -923px auto 0 48px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-group-1 {
  width: 470px;
  min-height: 466px;
  background-image: none;
  margin: -79px 0 55px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-8 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
  }

  .u-section-8 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    margin-top: -87px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-8 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 77px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-8 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -1296px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-8 .u-group-1 {
    margin-top: -121px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3080px;
  }

  .u-section-8 .u-shape-1 {
    width: 402px;
    height: 2745px;
    margin-left: 0;
  }

  .u-section-8 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2680px;
    margin-left: auto;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-8 .u-group-1 {
    width: 425px;
    margin-top: -140px;
    margin-right: 0;
    margin-bottom: 112px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

 .u-section-9 {
  background-image: none;
  min-height: 568px;
}

.u-section-9 .u-shape-1 {
  height: 230px;
  margin-top: 60px;
  margin-bottom: 0;
  background-image: linear-gradient(#545af8, #e84a90);
}

.u-section-9 .u-group-1 {
  min-height: 448px;
  width: 965px;
  margin: -320px auto -30px calc(((100% - 1140px) / 2) + 88px);
}

.u-section-9 .u-container-layout-1 {
  padding: 60px 46px 60px 60px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 4px 570px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-9 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 20px 570px 0 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 176px;
  min-width: 112px;
  margin: 30px auto 0 0;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

.u-section-9 .u-icon-6 {
  height: 100%;
}

.u-section-9 .u-icon-7 {
  height: 100%;
}

.u-section-9 .u-form-1 {
  height: 307px;
  margin: -295px 0 0 394px;
}

.u-section-9 .u-btn-3 {
  width: 100%;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-text-1 {
    margin-right: 545px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 545px;
  }

  .u-section-9 .u-form-1 {
    margin-left: 369px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 504px;
  }

  .u-section-9 .u-group-1 {
    min-height: 384px;
    width: 720px;
    margin-left: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 19px;
    margin-right: 371px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-9 .u-form-1 {
    height: 287px;
    margin-left: 321px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 833px;
  }

  .u-section-9 .u-group-1 {
    min-height: 713px;
    width: 540px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 231px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }
}

