 .u-section-1 {
  background-image: none;
  min-height: 906px;
}

.u-section-1 .u-image-1 {
  height: 548px;
  object-position: 100% 100%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  width: 559px;
  margin: -456px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  margin: 15px auto 0;
  padding: 13px 59px 15px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 256px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 194px;
  grid-gap: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 85px;
  width: 85px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 593px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 267px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 837px;
  }

  .u-section-1 .u-image-1 {
    height: 504px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 454px;
    margin-top: -412px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 199px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 890px;
  }

  .u-section-1 .u-image-1 {
    object-position: 51.38% 50%;
    height: 512px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: 376px;
    margin-top: -409px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 84px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 110px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 422px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 459px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -314px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 21px;
  }

  .u-section-1 .u-list-1 {
    width: 286px;
    margin-top: 171px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 316px;
    grid-gap: 20px 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 72px;
    width: 72px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    height: 72px;
    width: 72px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    height: 72px;
    width: 72px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 18px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    height: 72px;
    width: 72px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 408px;
}

.u-section-2 .u-group-1 {
  min-height: 288px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 52px 735px 0 70px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -39px 98px 0 auto;
  padding: 38px 74px 38px 73px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  margin: -69px 604px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 19px;
    margin-left: 61px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -75px;
    margin-right: 413px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 111px;
    margin-right: 70px;
    margin-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -49px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 373px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 365px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 46px;
    margin-right: 117px;
    margin-left: 93px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 80px;
    margin-right: auto;
    margin-left: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -194px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 27px;
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 137px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: -252px;
    margin-left: 35px;
    margin-right: 35px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-group-1 {
  width: 950px;
  min-height: 306px;
  margin: 138px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 718px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 58px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 20px 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  box-shadow: 0 0 7px 0 rgba(71,138,201,0.7);
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: none;
  margin: 0 0 0 auto;
  padding: 15px 39px 15px 38px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 58px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 0 20px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto -9px 0;
  padding: 12px 46px 12px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 300;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 78px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  margin: 70px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 15px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: none;
  margin: 40px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 366px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-1 {
  min-height: 366px;
  background-image: url("images/photo_2022-03-05_15-13-48.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 366px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 1px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 356px;
  background-image: url("images/photo_2021-08-09_00-22-01.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 356px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 28px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 34px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 356px;
  background-image: url("images/gradia-1-new-8a41c2f8ad03570c6f3ee528917cf57297046fe235b499476dbe6c27e14e5696.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-4 .u-image-1 {
    min-height: 302px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-4 .u-image-2 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 294px;
  }

  .u-section-4 .u-image-3 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 225px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2285px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 506px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 506px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    min-height: 319px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    min-height: 319px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 375px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 375px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-3 {
  width: 375px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-4 {
  width: 375px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-5 {
  width: 375px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-6 {
  width: 375px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: 53px;
  }

  .u-section-5 .u-back-image-1 {
    width: auto;
  }

  .u-section-5 .u-back-image-2 {
    width: auto;
  }

  .u-section-5 .u-back-image-3 {
    width: auto;
  }

  .u-section-5 .u-back-image-4 {
    width: auto;
  }

  .u-section-5 .u-back-image-5 {
    width: auto;
  }

  .u-section-5 .u-back-image-6 {
    width: auto;
  }
} .u-section-6 {
  min-height: 642px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 1px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 641px;
  background-image: url("images/MacBook-Pro-Mockup.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 641px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 223px 114px 0 auto;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 90px auto 0;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: -84px 130px 0 auto;
  padding: 38px 74px 38px 73px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 530px;
  }

  .u-section-6 .u-image-1 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-6 .u-text-1 {
    margin-right: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 406px;
  }

  .u-section-6 .u-image-1 {
    min-height: 405px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 497px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 197px;
    margin-right: 26px;
    margin-left: 22px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 116px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -124px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 828px;
  }

  .u-section-6 .u-image-1 {
    min-height: 911px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 63px;
    margin-left: 269px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -69px;
    margin-bottom: -15px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 603px;
  }

  .u-section-6 .u-image-1 {
    min-height: 447px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 305px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 38px;
    margin-left: 54px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 169px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -68px;
    margin-bottom: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 558px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 67px auto 5px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 60px 20px 20px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  margin-left: auto;
  font-size: 3rem;
  margin-right: auto;
  font-weight: 400;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 431px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-form-1 {
  margin: 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-form-group-5 {
  margin-left: auto;
}

.u-section-7 .u-form-group-6 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  margin-left: auto;
  background-image: none;
  border-style: none;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 168px;
  min-width: 120px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1399px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: undefined;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: undefined;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-form-group-1 {
    margin-right: auto;
  }

  .u-section-7 .u-form-group-2 {
    margin-right: auto;
  }

  .u-section-7 .u-form-group-3 {
    margin-right: auto;
  }

  .u-section-7 .u-form-group-4 {
    margin-right: auto;
  }

  .u-section-7 .u-form-group-5 {
    margin-right: auto;
  }

  .u-section-7 .u-form-group-6 {
    margin-right: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 2px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-7 .u-form-group-1 {
    width: 100%;
  }

  .u-section-7 .u-form-group-2 {
    width: 100%;
  }

  .u-section-7 .u-form-group-3 {
    width: 100%;
  }

  .u-section-7 .u-form-group-4 {
    width: 100%;
  }

  .u-section-7 .u-form-group-5 {
    width: 100%;
  }

  .u-section-7 .u-form-group-6 {
    width: 100%;
  }
}